
.contenedor{
    display: flex;
    background-repeat: no-repeat;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
    
}

.letra{
    color: black;
}

#Boton{
    margin-top: 20px;
    margin-left: 900px;
    display: flex;
}

h5{
    margin-top: -80px;
}