.welcome {

    display: grid;
    grid-template-rows: 0.3fr 0.01fr 4fr 4fr ; /* Divide en 3 columnas de igual ancho */
    grid-gap: 15px; /* Espacio entre las secciones */
    color:black;
    padding-left: 1vw;
    width: 1000px;
    position: absolute;
  }
  .welcome-text{
    font-size: 30px;
  font-weight: bold;
  text-align: start;
  margin-top: 20px;


  }
  
  
  .welcome-line {
    
    width: 72vw; /* Establece el ancho al 100% */
    height: 1px; /* Establece la altura de la línea */
    background-color: #000; /* Cambia el color de la línea según tus preferencias */
    padding-right: 0px;
  }
  .block-citas {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    background-color: rgba(39, 26, 155, 0.89);
  }
  .citas{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 80%;


  }
  .espacio{
    font-size: 18px;
    font-weight: bold;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    background-color: rgba(39, 26, 155, 0.89);

  }
  .fr{
    display: inline-block;
    border-color: red;

  }
  .calif{
    font-size: 20px;
    margin-left: 55%;
    color: black;
  }
  .img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }