.chip {
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 10px;
    height: 100px;
    width: 275px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 5px;
    
    margin-top: 2vw;
    position: relative;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .nom {
    order: -1;
    position: absolute; 
    bottom: 25px;
  }
  
  .cur {
    padding-left: 27%;
    position: absolute;
    bottom:-15px;
    left:-65px
  }
  .but{
    width:20px;
    position: absolute;
    right:-0px;
    bottom:30px;
  }